.sent > .subj {
    background-color: pink;
}

.sent > .verb {
    background-color: yellow;
}

.sent > .obj {
    background-color: lightgreen;
}

.sent > .comp {
    background-color: lightblue;
}

.sent > .aux {
    color: #555555;
    border-radius:1em;
    padding-left:1px;
    padding-right:1px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.aux > .subj {
    text-shadow: 0 0 3px pink;
}

.aux > .verb {
    text-shadow: 0 0 3px yellow;
}

.aux > .obj {
    text-shadow: 0 0 3px lightgreen;
}

.aux > .comp {
    text-shadow: 0 0 3px lightblue;
}

.word[data-mwe] {
    text-decoration:underline;
    font-weight:bold;
}

#wrapper {
    display: flex;
    height:80vh;
}

#root, #debug {
    border: 1px solid lightgrey;
    overflow: auto;
}

#root {
    flex: 1;
}

#debug {
    flex: 2.5;
}

#debug > div {
    display:flex;
    height:98%;
}

#debug .mwe-container {
    border:1px solid grey;
    padding:5px;
    overflow:auto;
}

#debug .dep-container {
    flex:1;
    justify-content:center;
    background-color: lightgrey;
    overflow:hidden;
    display:flex;
}

#debug .dep-container svg {
    width:100%;
    height:100%;
    border:1px dotted red;
}

table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

.word[data-sel] {
    border: 3px solid red;
}