<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='index.css') }}"/>
    <script src="http://ariutta.github.io/svg-pan-zoom/dist/svg-pan-zoom.min.js"></script>
</head>
<body>
    <h1>NLP Demo Page</h1>
    <form id="myform" method="post" action="{{ url_for('pipe') }}">
        <label for="input_str">Input:</label>
        <textarea type="text" name="input_str" id="input_str" cols="100" rows="10">{{ request.form['input_str'] }}</textarea>
        <input type="submit" value="Submit" style="width: 100px; height: 50px;"/>
    </form>
    <div id="wrapper">
        <div id="root">
        {% if docs is defined %}
        {% for doc in docs %}
        {% set outer_loop = loop %}
        {% for sent in doc.sents %}
            <p id="sent-{{ outer_loop.index }}-{{ loop.index }}" data-index="{{outer_loop.index }}-{{ loop.index }}">
                {{ sent._.generate_html()|safe }}
            </p>
        {% endfor %}
        {% endfor %}
        {% endif %}
        </div>
        <div id="debug"></div>
    </div>
    <div id="hidden-debug" style="display:none">
    {% if docs is defined %}
    {% for doc in docs %}
    {% set outer_loop = loop %}
    {% for sent in doc.sents %}
        <div id="debug-{{ outer_loop.index }}-{{ loop.index }}">
            <div class="mwe-container">
                <table>
                    <tr> <th colspan="3">MWE</th> </tr>
                    {% for mwe in sent._.mwes %}
                    <tr><td colspan="3">{% for tk in mwe %}{{tk.text}} {%endfor%}</td></tr>
                    {% endfor %}
                    <tr> <th>token</th> <th>iob tag</th> <th>raw result</th> </tr>
                    {% for token in sent %}
                    <tr>
                        <td>{{ token.text }}</td>
                        <td>{{ token._.mwe_iob }}</td>
                        <td>{{ token._.mwe_raw_iob }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="dep-container"> {{ draw_dep_tree(sent)|safe }} </div>
        </div>
    {% endfor %}
    {% endfor %}
    {% endif %}
    </div>
    <script>
        // document.querySelector("#myform").addEventListener("submit", onSubmit)
        // function onSubmit(e){
        //     e.preventDefault();
        //     formData = new FormData(e.target);
        //     var xhttp = new XMLHttpRequest();
        //     xhttp.onreadystatechange = function() {
        //         if (this.readyState == 4 && this.status == 200) {
        //             document.getElementById("root").innerHTML = this.responseText;
        //         }
        //     };
        //     xhttp.open("POST", "{{ url_for('pipe') }}");
        //     xhttp.send(formData);
        //     return false;
        // }
        ps = document.querySelectorAll("#root > p");
        prevClickedP = null;
        prevClickedWord = null;
        for(let p of ps){
            p.addEventListener("click", function(e){
                let i = e.currentTarget.dataset.index;
                dbg_elem = document.querySelector("#debug-"+i);
                dbg = document.querySelector("#debug");
                if(dbg.querySelector("svg") != null){
                    svgPanZoom(dbg.querySelector("svg")).destroy()
                }
                dbg.innerHTML = '';
                dbg_elem_clone = dbg_elem.cloneNode(true);
                dbg_elem_clone.id = "";
                dbg.appendChild(dbg_elem_clone);
                
                svgPanZoom(dbg.querySelector("svg"), {
                  zoomEnabled: true,
                  controlIconsEnabled: true,
                  fit: true,
                  center: true
                });
                
                // Highlight word
                if( prevClickedWord != null ) {
                    delete(prevClickedWord.dataset.sel);
                }

                if(e.target.className == "word"){
                    queryText = e.target.innerText;
                    ts = dbg.querySelector("svg").querySelectorAll("text");
                    for(let t of ts){
                        if(t.textContent == queryText){
                            t.style.textShadow = "0 0 10px red";
                        }
                    }
                    e.target.dataset.sel = 1;
                    prevClickedWord = e.target;
                }

                prevClickedP = e.currentTarget;
            });
        }
    </script>
</body>
</html>